.edit-listings-col {
    margin: 25px 0 25px 0;
    /* border-bottom: 1px solid grey; */

}

.edit-listings-card {
    border: none;
    border: 1px solid grey;
    border-radius: 0;
}

.edit-listings-img {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-color: #f2f2f2;
}

.delete-listing-confirm {
    width: 100%;
}

.form-switch .form-check-input:checked {
    background-color: #15d475 !important;
    border: #15d475;
}

.form-switch .form-check-input {
    background-color: red !important;
    border: red;
    height: 25px;
    width: 50px;
}

.form-switch label {
    width: 90%;
    padding-left: 25px;
}

.listings-card-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #f2f2f2;
  }

  .img-div {
    display: flex;
    justify-content: center;
  }

  .listing-title {
    text-align: center;
  }

  .availabilty-switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .set {
    text-align: center;
  }

  .buttons-row {
    display: flex;
    justify-content: center;
    align-content: center;
  }

