.mapboxgl-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }

.map_box_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}

.map_box-longlat{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 45%;
    align-items: center;
    border: 2px solid cyan;
}

.map_box_wrapper{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content:center ;
    
}
#userMap{
    width: 100px;
}


.map-side{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 10px;
    border-radius: 8px;
}
.search{
    height: auto;
    width: auto;
    /* border: 2px solid black; */
}


.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: relative;
    margin: 12px;
    border-radius: 4px;
    }
.map_box-longlat{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    align-items: center; 
}

.topbar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navigator{
    margin: 20px;
}
/* .geocoder-icon, .geocoder-icon-close {
    width: 20px;
    height: 20px;
} */

/* #marker {
    background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/marker-1.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    } */
    /* .marker {
        background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/marker-1.jpg');
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        }    
    .mapboxgl-popup {
    max-width: 200px;
    } */

.btn-info {
    margin-block: 8px;
    margin-inline: 5px;
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    font-family: monospace;
}

.form-address {
    margin-top: 30px;
}

#instructions {

    width: 300px;
    height: 150px;
    overflow-y:scroll;
    display: none;
    margin-top: 50px;

}

.search-btn {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    font-family: monospace;
    margin: 5px;
}