
.mapboxgl-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }

.map_box_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 4px solid black;
    margin-top: 10px;
    border-radius: 10px;
}

.map_box {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}
#userMap{
    width: 100px;
}


.map_box_wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border: 2px solid pink;
    align-items: center;
    justify-content:center ;
    
}
.map-side{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid pink;
    margin-left: 10px;
    border-radius: 8px;
     overflow-wrap: break-word;
}
.search{
    /* align-self: flex-end; */
    height: auto;
    width: auto;
    border: 2px solid black;
}

.map-container {
    width: 100%;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: relative;
    margin: 12px;
    border-radius: 4px;
    }
.map_box-longlat{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    align-items: center;
    border: 2px solid cyan;
}

.sidebar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navigator{
    margin: 20px;
}
/* .geocoder-icon, .geocoder-icon-close {
    width: 20px;
    height: 20px;
} */

/* #marker {
    background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/marker-1.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    } */
    .marker {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        background:url('./markers/toilet.png');
        background-size: cover;
        padding: 10px;
        }    
    .mapboxgl-popup {
    max-width: 200px;
    }

.btn-info {
    margin-block: 8px;
    margin-right: 5px;
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    font-family: monospace;
}

.form-address {
    margin-top: 30px;
}

#instructions {

    width: 300px;
    height: 150px;
    overflow-y:scroll;
    display: none;
    margin-top: 50px;

}

.marker-h2, .marker-h3, .marker-h4 {
    margin-inline: 10px;
    font-size: 20px;
}

#map-search-error{
   color: red;
}

