.profile-heading-row {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 15px 0 50px 0;
}

.profile-img-wrapper {
    border: 2px solid red;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}


.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 6px solid transparent;
}

.profile-header-text {
    font-size: 1.7em;
    margin-top: 10px;
}

.profile-header-name h3 {

    display: inline-block;
    font-weight: lighter;
}

.profile-header-name h4 {
    font-weight: lighter;
    font-style: italic;
}

.profile-wrap {
    margin-top: 50px;
}



/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */

    @media only screen and (max-width:800px) {
        .profile-img-wrapper {
            border-radius: 50%;
            width: 150px;
            height: 150px;
    }
  }

    @media only screen and (max-width: 770px) {
        .prof-img-col {
            display: flex;
            justify-content: center;
    }
  }

    @media only screen and (max-width: 600px) {
        .prof-text-col {
            display: flex;
            justify-content: center;
    }
  }

    @media only screen and (max-width: 770px) {
        .profile-header-text {
            text-align: center;
            margin-top: 30px;
    }
  }

    @media only screen and (max-width: 770px) {
        .profile-wrap {
            display: flex;
            justify-content: center;    
            flex-direction: column;
    }
  }

 

    @media only screen and (max-width: 770px) {
        .form-row {
            display: flex;
            justify-content: center;    
    }
  }
