.profile-heading-row {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 50px;
}

.profile-img-wrapper {
    border: 2px solid red;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid transparent;
}

.profile-header-text {
    color: #FF385C;
    font-size: 1.7em;
}

.profile-header-name h3 {

    display: inline-block;
    font-weight: lighter;
}

.profile-header-name h4 {
    font-weight: lighter;
    font-style: italic;
}

