.login-register-tabs {
    width: 400px;
    padding-top: 50px;
}
.register-tab {
    color: #FF385C;
}

@media screen and (max-width: 500px) {
    .login-register-tabs {
        width: 90%;
    }
}

.login-register-tabs ul li {
    flex: 1;
}

.login-register-tabs ul li button {
    width: 100%;
}

.login-register-tabs .tab-content {
    padding-top: 25px;
}