.lrg-nav-link {
    margin: 0 15px 0 15px;
}

.header-account-img {
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid red;
    margin-right: 5px;
}