.lrg-nav-link {
    margin: 0 15px 0 15px;
        font-weight: bold;
        font-size: larger;
        font-family: monospace;
        color: rgba(35, 55, 75, 0.9);
}

.nav-brand {
    font-weight: bold;
    margin-left: 40px;
    font-size: x-large;
    color: rgba(35, 55, 75, 0.9);
}
